@font-face {
  font-family: "fonte";
  src: url(Perfect\ DOS\ VGA\ 437.ttf);
}

h1{
    text-align: center;
    font-family: "fonte";
}
.zeca{
    text-align: center;
    background-color: aqua;
    width: fit-content;
    margin: auto;
    
}




#ovo {
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .0px;
    line-height: 10px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 5px 5px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100px;
  }
  
  #ovo:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  
  #ovo:main,
  #ovo:focus {
    user-select: auto;
  }
  
  #ovo:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }
  
  #ovo:disabled {
    cursor: auto;
  }
  
  #ovo:active {
    border-width: 4px 0 0;
    background: none;
  }